@keyframes flicker-reveal {
    0%, 4%, 6%, 14%, 16%, 49%, 51%, 79%, 81%, 94%, 96%, 99% {
        opacity: 0;
    }

    5%, 15%, 50%, 80%, 95%, 100% {
        opacity: 1;
    }
}

@keyframes flicker-hide {
    0%, 9%, 11%, 19%, 21%, 89%, 91%, 94%, 96%, 99% {
        opacity: 1;
    }

    10%, 20%, 90%, 95%, 100% {
        opacity: 0;
    }
}