.blocks {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    font-size: 0;
}

.blocks__block {
    background: black;
    display: inline-block;
    width: var(--block-width);
    height: var(--block-height);
}

.blocks__block--hidden {
    opacity: 0;
}